azure-functions
python-dotenv
pdfplumber
pandas
numpy
azure-cosmos
tiktoken
openai
azure-search-documents
azure-core
azure-ai-documentintelligence
azure-storage-blob
azure-cognitiveservices-speech



